body {
	background-image: url("../images/sitebackground.png");
}
* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color:black;
}
.jumbotron {
background-image: url("../images/dark_embroidery.png");
}

.jumbotron h1, p  {
	color:white;
}
